<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Login</title>
      <link rel="icon" type="image/x-icon" href="/images/titlelogo.png">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
      <style>
          .error {
              color: red;
          }
      </style>
   </head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <div class="header">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class=" col-md-2 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-sm-12">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item">
                              <a class="nav-link" href="index.html">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="about.html">About</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="requesttab.html">Requests</a>
                           </li> <li class="nav-item">
                              <a class="nav-link" href="solutionstab.html">Solutions</a>
                           </li>
                           <li class="nav-item active">
                              <a class="nav-link" href="login.html">Login</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
               <div class="col-md-2">
                  <ul class="email text_align_right">
                     <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                     <li class="d_none"> <a href="Javascript:void(0)"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></a> </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
      <!-- login -->
      <div class="contact">
         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Login</h2>
                  </div>
               </div>
               <div class="col-md-6">
                  <div ng-controller="loginCtrl">
                  <form name="loginForm" id="request" class="main_form" ng-submit="submitForm()" novalidate>
                     <div class="row">
                     <div class="col-md-12">
                         <input class="contactus" placeholder="Email*" type="email" name="email" ng-model="user.email" required>
                         <span class="error" ng-show="loginForm.email.$error.required">Email is required.</span>
                         <span class="error" ng-show="loginForm.email.$error.email">Invalid email format.</span>
                     </div>
                     <div class="col-md-12">
                         <input class="contactus" placeholder="Password" type="password" name="password" ng-model="user.password" required ng-minlength="6">
                         <span class="error" ng-show="loginForm.password.$error.required">Password is required.</span>
                         <span class="error" ng-show="loginForm.password.$error.minlength">Password must be at least 6 characters.</span>
                     </div>
                     <button class="send_btn" formaction="requesttab.html" type="submit" ng-disabled="loginForm.$invalid">Login</button>
                  </div>
                 </form>
               </div>
               </div>
               <div class="col-md-6">
                  
               </div>
            </div>
         </div>
      </div>
      <!-- login -->
<!--  footer -->
<footer>
   <div class="footer">
     
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>© 2020 All Rights Reserved SRMIST. Design by Aryan Murari, Satya Kamisetty and Rushik Parikh.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
 </footer>
 <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/custom.js"></script>
      <script>
         AOS.init();
      </script>
      <script>
         var app = angular.module('loginApp', []);
         app.controller('loginCtrl', function($scope) {
             $scope.submitForm = function() {
                 if ($scope.loginForm.$valid) {
                     window.location.href="requesttab.html";
                 } else {
                     alert('Please correct errors in the form.');
                 }
             };
         });
     </script>
   </body>
</html>
